
.top{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 7px solid white;
  margin: 100px 100px;
  border-radius: 20px;
  background-color: aliceblue;
  box-shadow:  0px 0px 15px  rgb(0, 162, 255);
}
.inline-four button{
       color:white;
       background-color: rgb(0, 162, 255);
       border: none;
       padding: 20px 30px;
       border-radius: 15px
}
::placeholder{
  color: rgb(0, 162, 255);
  padding-left: 30px;
}
input:focus{
  outline: none;
}
